body {
  font-family: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.app-header {
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-control > .label {
  display: block;
  font-weight: bold;
}